body{
    background-color:blueviolet;
    color: #ffffff;
    text-align: center;
}
h1{
    font-family:fantasy;
    letter-spacing: 2px;
    color: #530882;;
   
}
button{
    background-color: rgb(40, 0, 88);
    color: #f0f8ff;
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
    font-family:serif;
    margin: 10px;
}